<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Manage Large Purchase Order through Excel</h2>
        <h3 class="oe_slogan">Import/Export/Mass Update Order lines quickly by Excel</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Select option to manage large order by Excel under settings</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
By installing this module, you will find a option "Import Purchase order line from Excel file?" under Purchases >> Settings menu. If you select that option then you will see option "Import/Export order lines" in "More" section at the top bar in Purchase Order form view.   
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="import1.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Import/Export Order lines from Excel popup</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="import2.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                By clicking on "Import/Export order lines" option, you will see one pop up to Import / Export Excel file. You can import only .xls or .xlsx file. Please make sure that your file's column headers must be Code, Qty, Name, Price, Discount.
                You will find all the necessary instructions on pop up itself. 
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Import file with simple Code & Qty</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
            Here there is only Code & Qty specified in Excel file. By importing this file, system will create new order lines in particular Purchase order with tremendous speed. Price, Discount & Description will be taken from automatically from pricelist.
            If you specify Name, Price & Discount columns then system will take from file. If those columns are not specified then system will calculate from pricelist. 
            You can import order lines only in case of when your Order is in "Draft" state.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="import3.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Setting default Qty while importing products from Excel file</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="import5.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
              	Sometimes user includes 12 (dozen) Qty by default in their orders to suppliers.
              	In this kind of cases they just need to know the product code from ERP system.  
              	With keeping this case in consideration, we made our module so simple specially for users 
                so that if they add only Code in excel file then system will take default Qty automatically from 
              	settings. So there is no need to even provide Qty while importing file. In order to set default Qty, user need to go to 
              	Setting > Technical > Parameters > System parameters & find the key "Default Qty To Import Product In Purchase Order" and set the value as per 
              	their requirement.
               
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Export the file and do mass update on order lines.</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
When there is large order with typically 200-300 order lines, it is very hard & time consuming to do modifications in Discount, Unit Price, or Qty in Order lines.
With this case in consideration, through our module, you can export the order line in Excel file, do changes quickly in Excel and import that file back to purchase order.
Your whole order will be updated in fraction of seconds. If you want to modify the existing lines, then don't remove "ID" column in exported Excel file.

            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="import4.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">To whom this module can be useful ?</h3>

            <p class='oe_mt32'>
This module can be exceptionally beneficial for the persons who are wholesalers & retailers whereas they need to add 200-300 products in one order.
Supplier generally provides their large orders via Excel file with the Product code & Qty. So with minor modifications in that excel file person can directly import this file into purchase order in Odoo. This will save their lots of time. 
We have also taken care that csv file creates problem as platform changes from MAC to windows. That's why our module accepts Excel file. Generally end users are not so much aware with csv and it's separators. 
With our module, they can work mainly in Excel worksheets and upload that worksheets to Odoo. So with our module they can import large order in fraction of seconds and even more they can do mass update quickly in purchase order. 
            </p>

    </div>
</section>

<section class="oe_container"><h2 class="oe_slogan">Help and Support.</h2>
<div class="oe_slogan">
            <span class="fa fa-envelope fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Help&nbsp;</a></span>
            <span class="fa fa-road fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/generate_support_ticket">&nbsp;Support&nbsp;</a></span>
            <span class="fa fa-wrench fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Request new Features</a></span>
</div>
</section>
