<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Product Multi EAN13 Management</h2>
        <h3 class="oe_slogan">Auto generate EAN13 & manage multiple EAN13 for a product</h3>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Multi EAN support for a product</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                By installing this module, in product variant screen you will able to add multiple EAN for a product under Sales tab. Here you will find a button "Generate EAN Code". Clicking on that, you can generate EAN manually anytime. In case of multiple EAN of a product, lowest sequence EAN no. will be considered as Main EAN for a product. You can't modify main EAN inside the product. Just change the sequence inside multi EAN section, and lowest sequence will be set as main EAN for that product automatically.    
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="1.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Auto EAN creation setting as per company wise</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="2.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                In company screen, under "Configuration" tab, you will find a setting called "Allow to generate barcode at Product creation time".
                By selecting that option, when you create a product, system will create 13 digit EAN no. automatically.
            </p>
        </div>
    </div> 
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">EAN no as per Sequence</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                You can configure your own 7 digit prefix for Product EAN. The system will add another 5 digit from sequence auto increment no and last 13th digit will be calculated from the system in order to make that EAN as a valid number.   
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="3.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Create EAN for multi Products in single click</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="4.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                You can select multiple products in menu <b><i>Sales >> Product Variants</i><b> and create EAN for all those products in single click.                   
            </p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Create EAN for multi Categories in single click</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                You can select multiple categories in menu <b><i>Sales >> Configuration >> Products >> Product Categories<i><b> and create EAN for all products which are belongs to those selected categories in single click.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="5.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Unique EAN in products</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="6.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                You can't define duplicate EAN for a product in system. System will raise an error once found duplicate EAN in product.
            </p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Search product by secondary EAN</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
In case of multi EAN for products, you can still apply search on products by secondary EAN which is not define as a main EAN.  
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="7.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container"><h2 class="oe_slogan">Help and Support.</h2>
<div class="oe_slogan">
            <span class="fa fa-envelope fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Help&nbsp;</a></span>
            <span class="fa fa-road fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/generate_support_ticket">&nbsp;Support&nbsp;</a></span>
            <span class="fa fa-wrench fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Request new Features</a></span>
</div>
</section>