<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">ZK Fingerprint (FILO) Algorithm</h2>
            <p>This module was written to extend the functionality of HR Attendance to support ZK devices and allow you
                to get attendance data directly from the device to pappaya systems.

                It uses First IN Last OUT <b>(FILO)</b> to correct attendance mistakes by the users.

                Supporting multi devices multi timezones. So you can sign IN/OUT from different locations.

                Also, you can specify night shift employees to ignore FILO and use regular sign IN/OUT button
                on the devices.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Installation</h2>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">To install this module, you need to:
            <ul>
                <li>Extract the module to your custom addons folder</li>
                <li>Update module list</li>
                <li>install the module after searching for it.</li>
            </ul>
            </p>
        </div>
        <!--<div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.openerp.com/saas_master/demo?lang=en_US&module=crm">
                    <img src="crm_sc_01.png">
                </a>
            </div>
        </div>-->
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Configuration</h2>
        </div>
        <div class="oe_span4">
            <p class="oe_mt32">To configure this module, you need to:
            <ul>
                <li>Configure Devices</li>
            </ul>
            </p>
        </div>
        <div class="oe_span8">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="configure_device.png">
                    <img src="configure_device.png">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Usage</h2>
        </div>
        <div class="oe_span4">
            <p class="oe_mt32">Set Employee's ID:
            <ul>
                <li>Configure each employee with the proper finger print ID on <b>Other Id</b> field</li>
                <li>Set the night shift checkbox if this employee working overnight and overlaps between nights</li>
            </ul>
            </p>
        </div>
        <div class="oe_span8">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="configure_employee.png">
                    <img src="configure_employee.png">
                </a>
            </div>
        </div>
        <div class="oe_span4">
            <p class="oe_mt32">To manually fetch the attendance using this module:
            <ul>
                <li>Click on Get Attendance Wizard from HR > Configuration > Attendance</li>
            </ul>
            </p>
            <p class="oe_mt32">For For automatic fetch of attendance:
            <ul>
                <li>Go to Settings > Technical > Automation > Scheduled Actions</li>
                <li>Modify action name <b>Full Attendance Downloads (ZK)</b></li>
            </ul>
            </p>
        </div>
        <div class="oe_span8">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="get_attendance.png">
                    <img src="get_attendance.png">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Known limitations / Roadmap</h2>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
            <ul>
                <li>The module has been tested on the following device ZEMs: 800, 100, 600, 760, G3</li>
                <li>The module checks for duplicate records. But raises error when Bio ID is not unique per employee</li>
                <li>It bypasses the IN/OUT constraints provided by hr.attendance module and uses
                    First IN Last OUT algorithm. Therefore, Sign IN/OUT using the device is ignored unless using night shift.
                </li>

            </ul>
            </p>
        </div>
        <!--<div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://www.openerp.com/saas_master/demo?lang=en_US&module=crm">
                    <img src="crm_sc_01.png">
                </a>
            </div>
        </div>-->
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h3>Maintainer</h3>
            <p>
                This module is maintained by PappayaED.<br/>
                PappayaED, is an Education development company focusing on Consultant to Developer Business Model.
                Our mission is to provide the best development support to Pappaya Consultants and implementors.
                <br/>
            </p>
        </div>
    </div>
</section>
